Templates(
    entities : [
        //Randomw spawning entities

        //Items
        Template(
            entity_type: Item,
            name : "Fried Chicken", glyph : '!', levels : [ 0, 1, 2 ],
            provides: Some([ ("Healing", 6) ]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name : "Small Fried Chicken", glyph : '!', levels : [ 0, 1, 2 ],
            provides: Some([ ("Healing", 2) ]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name : "Console Head Set with LED Light", glyph : '{', levels : [ 0, 1, 2 ],
            provides: Some([ ("MagicMap", 0) ]),
            frequency: 1
        ),
        Template(
            entity_type: Item,
            name: "Sturdy Arm", glyph: '/', levels : [ 0 ],
            frequency : 1,
            base_damage: Some(1)
        ),
        Template(
            entity_type: Item,
            name : "Combat Arm", glyph: 'S', levels: [ 1 ],
            frequency: 1,
            base_damage: Some(2)
        ),
        Template(
            entity_type: Item,
            name : "Lightning Arm", glyph: '/', levels: [ 2 ],
            frequency: 1,
            base_damage: Some(3),
        ),
        Template(
            entity_type: Item,
            name : "Reinforced Fibers Hoodie", glyph: '<', levels: [ 0, 1, 2 ],
            frequency: 3,
            base_defense: Some(1),
        ),

        //Enemies
        Template(
            entity_type: Enemy,
            name : "Transport Robot", glyph : 'g', levels : [ 0 ],
            hp : Some(1),
            frequency: 3,
            base_damage: Some(1),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Robot A", glyph : 'o', levels : [ 0, 1, 2 ],
            hp : Some(3),
            frequency: 2,
            base_damage: Some(2),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Robot B", glyph: 'O', levels : [ 1, 2 ],
            hp : Some(6),
            frequency : 1,
            base_damage : Some(3),
            field_of_view_radius: Some(7),
            base_defense: Some(1),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Robot C", glyph : 'E', levels : [ 2 ],
            hp : Some(12),
            frequency : 1,
            base_damage: Some(4),
            field_of_view_radius: Some(8),
            base_defense: Some(1),
        ),

        //with special tag
        //fixed number of occurrences(Set its frequency to zero, and add a special tag)

        //Boss enemy
        Template(
            entity_type: Enemy,
            name : "War Robot Prototype", glyph : '|', levels : [ ],
            hp : Some(20),
            frequency : 0,
            base_damage: Some(5),
            base_defense: Some(2),
            special_tag: Some(Boss),
            field_of_view_radius: Some(10),
        ),
        //Speciall weapon
        Template(
            entity_type: Item,
            name : "Jet Engine Arm", glyph: '^', levels: [ ],
            frequency: 0,
            base_damage: Some(7),
            special_tag: Some(UniqueWeapon),
        ),
    ],
)
