Templates(
    entities : [
        //Randomw spawning entities

        //Items
        Template(
            entity_type: Item,
            name : "Fried Chicken", glyph : 33, levels : [ 0, 1, 2 ],
            provides: Some([ ("Healing", 6) ]),
            frequency: 2,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Small Fried Chicken", glyph : 33, levels : [ 0, 1, 2 ],
            provides: Some([ ("Healing", 2) ]),
            frequency: 2,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Sturdy Arm", glyph: 47, levels : [ 0 ],
            frequency : 1,
            base_damage: Some(1),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Combat Arm", glyph: 83, levels: [ 1 ],
            frequency: 1,
            base_damage: Some(2),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Lightning Arm", glyph: 61, levels: [ 2 ],
            frequency: 1,
            base_damage: Some(3),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Sturdy Hoodie", glyph: 60, levels: [ 1, 2 ],
            frequency: 1,
            base_defense: Some(1),
            heat_seeking: false,
        ),

        //Enemies
        Template(
            entity_type: Enemy,
            name : "Transport Robot", glyph : 103, levels : [ 0 ],
            hp : Some(1),
            frequency: 3,
            base_damage: Some(1),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
            heat_seeking: false,
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Robot A", glyph : 111, levels : [ 0, 1, 2 ],
            hp : Some(3),
            frequency: 2,
            base_damage: Some(2),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
            heat_seeking: false,
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Robot B", glyph: 79, levels : [ 1, 2 ],
            hp : Some(6),
            frequency : 2,
            base_damage : Some(3),
            field_of_view_radius: Some(7),
            base_defense: Some(1),
            heat_seeking: true,
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Robot C", glyph : 69, levels : [ 2 ],
            hp : Some(12),
            frequency : 2,
            base_damage: Some(4),
            field_of_view_radius: Some(8),
            base_defense: Some(1),
            heat_seeking: false,
        ),

        //with special tag
        //fixed number of occurrences(Set its frequency to zero, and add a special tag)

        //Boss enemy
        Template(
            entity_type: Enemy,
            name : "War Robot Prototype", glyph : 124, levels : [ ],
            hp : Some(20),
            frequency : 0,
            base_damage: Some(5),
            base_defense: Some(2),
            special_tag: Some(Boss),
            field_of_view_radius: Some(10),
            heat_seeking: true,

        ),
        //Speciall eye
        Template(
            entity_type: Item,
            name : "Console Head Set with LED Light", glyph: 38, levels: [ ],
            frequency: 0,
            provides: Some([ ("MagicEye", 4) ]),
            special_tag: Some(UniqueEye),
            heat_seeking: false,
        ),
        //Speciall weapon
        Template(
            entity_type: Item,
            name : "Jet Engine Arm", glyph: 94, levels: [ ],
            frequency: 0,
            base_damage: Some(7),
            special_tag: Some(UniqueWeapon),
            heat_seeking: false,
        ),
        //Speciall armor
        Template(
            entity_type: Item,
            name : "Reinforced Fibers Hoodie", glyph: 37, levels: [ ],
            frequency: 0,
            base_defense: Some(3),
            special_tag: Some(UniqueArmor),
            heat_seeking: false,
        ),
    ],
)
