Templates(
    entities : [
        //Randomw spawning entities

        //Items
        Template(
            entity_type: Item,
            name : "Fried Chicken", levels : [ 0, 1, 2 ],
            left_frames: [ 94 ], right_frames: [ 94 ],
            up_frames: [ 94 ], down_frames: [ 94 ],
            provides: Some([ ("Healing", 6) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Small Fried Chicken", levels : [ 0, 1, 2 ],
            left_frames: [ 96 ], right_frames: [ 96 ],
            up_frames: [ 96 ], down_frames: [ 96 ],
            provides: Some([ ("Healing", 2) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Single Use Amp", levels : [ 0, 1 ],
            left_frames: [ 101 ], right_frames: [ 101 ],
            up_frames: [ 101 ], down_frames: [ 101 ],
            provides: Some([ ("ShockWave", 3) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Sonic Bomb", levels : [ 1, 2 ],
            left_frames: [ 99 ], right_frames: [ 99 ],
            up_frames: [ 99 ], down_frames: [ 99 ],
            provides: Some([ ("ShockWave", 6) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Rocket Punch Fist", levels : [ 1, 2 ],
            left_frames: [ 109 ], right_frames: [ 109 ],
            up_frames: [ 109 ], down_frames: [ 109 ],
            provides: Some([ ("RocketPunch", 8) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Mossy Arm", levels : [ 0 ],
            left_frames: [ 102 ], right_frames: [ 102 ],
            up_frames: [ 102 ], down_frames: [ 102 ],
            frequency : 1,
            base_damage: Some(1),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Sturdy Arm", levels: [ 1 ],
            left_frames: [ 111 ], right_frames: [ 111 ],
            up_frames: [ 111 ], down_frames: [ 111 ],
            frequency: 1,
            base_damage: Some(2),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Lightning Arm", levels: [ 2 ],
            left_frames: [ 98 ], right_frames: [ 98 ],
            up_frames: [ 98 ], down_frames: [ 98 ],
            frequency: 1,
            base_damage: Some(3),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Sturdy Hoodie", levels: [ 1, 2 ],
            left_frames: [ 110 ], right_frames: [ 110 ],
            up_frames: [ 110 ], down_frames: [ 110 ],
            frequency: 1,
            base_defense: Some(1),
            heat_seeking: false,
        ),

        //Enemies
        Template(
            entity_type: Enemy,
            name : "Transport Humanoid", levels : [ 0 ],
            left_frames: [ 33, 33, 34, 34, 35, 35, 34, 34 ],
            right_frames: [ 36, 36, 37, 37, 38, 38, 37, 37 ],
            up_frames: [ 39, 39, 40, 40, 41, 41, 40, 40 ],
            down_frames: [ 29, 29, 30, 30, 112, 112, 30, 30 ],
            hp : Some(1),
            frequency: 4,
            base_damage: Some(1),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
            heat_seeking: false,
            attack_left_frames: Some([33, 34, 35, 34, 33, 34]),
            attack_right_frames: Some([36, 37, 38, 37, 36, 37 ]),
            attack_up_frames: Some([ 39, 40, 41, 40, 39, 40]),
            attack_down_frames: Some([29, 30, 112, 30, 29, 30]),
            damage_left_frames: Some([33, 34, 35, 34, 33, 34]),
            damage_right_frames: Some([36, 37, 38, 37, 36, 37 ]),
            damage_up_frames: Some([ 39, 40, 41, 40, 39, 40]),
            damage_down_frames: Some([29, 30, 112, 30, 29, 30]),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Humanoid A", levels : [ 0, 1 ],
            left_frames: [ 45, 45, 46, 46, 48, 48, 46, 46 ],
            right_frames: [ 49, 49, 50, 50, 51, 51, 50, 50 ],
            up_frames: [ 52, 52, 53, 53, 54, 54, 53, 53 ],
            down_frames: [ 42, 42, 43, 43, 44, 43, 43, 42, 42 ],
            hp : Some(3),
            frequency: 4,
            base_damage: Some(2),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
            heat_seeking: false,
            attack_left_frames: Some([45, 46, 48, 46, 45, 46]),
            attack_right_frames: Some([49, 50, 51, 50, 49, 50]),
            attack_up_frames: Some([52, 53, 54, 53, 52, 53]),
            attack_down_frames: Some([42, 43, 44, 43, 42, 43]),
            damage_left_frames: Some([45, 46, 48, 46, 45, 46]),
            damage_right_frames: Some([49, 50, 51, 50, 49, 50]),
            damage_up_frames: Some([52, 53, 54, 53, 52, 53]),
            damage_down_frames: Some([42, 43, 44, 43, 42, 43]),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Humanoid B", levels : [ 1, 2 ],
            left_frames: [ 58, 58, 59, 59, 60, 60, 59, 59 ],
            right_frames: [ 61, 61, 62, 62, 64, 64, 62, 62 ],
            up_frames: [ 65, 65, 66, 66, 67, 67, 66, 66 ],
            down_frames: [ 55, 55, 56, 56, 57, 57 ],
            hp : Some(6),
            frequency : 4,
            base_damage : Some(3),
            field_of_view_radius: Some(7),
            base_defense: Some(1),
            heat_seeking: true,
            attack_left_frames: Some([58, 59, 60, 59, 58, 59]),
            attack_right_frames: Some([61, 62, 64, 62, 61, 62]),
            attack_up_frames: Some([65, 66, 67, 66, 65, 66]),
            attack_down_frames: Some([55, 56, 57, 56, 55, 56]),
            damage_left_frames: Some([58, 59, 60, 59, 58, 59]),
            damage_right_frames: Some([61, 62, 64, 62, 61, 62]),
            damage_up_frames: Some([65, 66, 67, 66, 65, 66]),
            damage_down_frames: Some([55, 56, 57, 56, 55, 56]),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Humanoid C", levels : [ 2 ],
            left_frames: [ 71, 71, 72, 72, 73, 73, 72, 72 ],
            right_frames: [ 74, 74, 75, 75, 76, 76, 75, 75 ],
            up_frames: [ 77, 77, 78, 78, 80, 80, 78, 78 ],
            down_frames: [ 68, 68, 69, 69, 70, 70, 69, 69],
            hp : Some(12),
            frequency : 2,
            base_damage: Some(4),
            field_of_view_radius: Some(8),
            base_defense: Some(1),
            heat_seeking: false,
            attack_left_frames: Some([71, 72, 73, 72, 71, 72]),
            attack_right_frames: Some([74, 75, 76, 75, 74, 75]),
            attack_up_frames: Some([77, 78, 80, 78, 77, 78]),
            attack_down_frames: Some([68, 69, 70, 69, 68, 69]),
            damage_left_frames: Some([71, 72, 73, 72, 71, 72]),
            damage_right_frames: Some([74, 75, 76, 75, 74, 75]),
            damage_up_frames: Some([77, 78, 80, 78, 77, 78]),
            damage_down_frames: Some([68, 69, 70, 69, 68, 69]),
        ),

        //with special tag
        //fixed number of occurrences(Set its frequency to zero, and add a special tag)

        //Boss enemy
        Template(
            entity_type: Enemy,
            name : "Humanoid Combat Intelligence Prototype 0", levels : [ ],
            left_frames: [ 84, 84, 85, 85, 86, 86, 85, 85 ],
            right_frames: [ 87, 87, 88, 88, 89, 89, 88, 88 ],
            up_frames: [ 90, 90, 91, 91, 92, 92, 91, 91 ],
            down_frames: [ 81, 81, 82, 82, 83, 82, 82 ],
            hp : Some(20),
            frequency : 0,
            base_damage: Some(5),
            base_defense: Some(2),
            special_tag: Some(Boss),
            field_of_view_radius: Some(10),
            heat_seeking: true,
            attack_left_frames: Some([84, 85, 86, 85, 84, 85]),
            attack_right_frames: Some([87, 88, 89, 88, 87, 88]),
            attack_up_frames: Some([90, 91, 92, 91, 90, 91]),
            attack_down_frames: Some([81, 82, 83, 82, 81, 82]),
            damage_left_frames: Some([84, 85, 86, 85, 84, 85]),
            damage_right_frames: Some([87, 88, 89, 88, 87, 88]),
            damage_up_frames: Some([90, 91, 92, 91, 90, 91]),
            damage_down_frames: Some([81, 82, 83, 82, 81, 82]),
        ),
        //Speciall eye
        Template(
            entity_type: Item, levels : [ ],
            name : "Console Head Set with LED Light",
            left_frames: [ 93 ],
            right_frames: [ 93 ],
            up_frames: [ 93 ],
            down_frames: [ 93 ],
            frequency: 0,
            provides: Some([ ("MagicEye", 4) ]),
            special_tag: Some(UniqueEye),
            heat_seeking: false,
        ),
        //Speciall weapon
        //Speciall armor
        Template(
            entity_type: Item, levels : [ ],
            name : "Reinforced Fibers Hoodie",
            left_frames: [ 97 ],
            right_frames: [ 97 ],
            up_frames: [ 97 ],
            down_frames: [ 97 ],
            frequency: 0,
            base_defense: Some(3),
            special_tag: Some(UniqueArmor),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "incandescence Rocket Punch Fist", levels : [  ],
            left_frames: [ 100 ], right_frames: [ 100 ],
            up_frames: [ 100 ], down_frames: [ 100 ],
            frequency: 0,
            provides: Some([ ("RocketPunch", 16) ]),
            special_tag: Some(UniqueBullet),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item, levels : [ ],
            name : "Jet Engine Arm",
            left_frames: [ 95 ],
            right_frames: [ 95 ],
            up_frames: [ 95 ],
            down_frames: [ 95 ],
            frequency: 0,
            base_damage: Some(7),
            special_tag: Some(UniqueWeapon),
            heat_seeking: false,
        ),
    ],
)
