Templates(
    entities : [
        //Randomw spawning entities

        //Items
        Template(
            entity_type: Item,
            name : "Fried Chicken", levels : [ 0, 1, 2 ],
            left_frames: [ 33 ], right_frames: [ 33 ],
            up_frames: [ 33 ], down_frames: [ 33 ],
            provides: Some([ ("Healing", 6) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Small Fried Chicken", levels : [ 0, 1, 2 ],
            left_frames: [ 33 ], right_frames: [ 33 ],
            up_frames: [ 33 ], down_frames: [ 33 ],
            provides: Some([ ("Healing", 2) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Single Use Amp", levels : [ 0, 1 ],
            left_frames: [ 13 ], right_frames: [ 13 ],
            up_frames: [ 13 ], down_frames: [ 13 ],
            provides: Some([ ("ShockWave", 3) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Sonic Bomb", levels : [ 1, 2 ],
            left_frames: [ 15 ], right_frames: [ 15 ],
            up_frames: [ 15 ], down_frames: [ 15 ],
            provides: Some([ ("ShockWave", 6) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Rocket Punch Fist", levels : [ 1, 2 ],
            left_frames: [ 11 ], right_frames: [ 11 ],
            up_frames: [ 11 ], down_frames: [ 11 ],
            provides: Some([ ("RocketPunch", 8) ]),
            frequency: 1,
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "Mossy Arm", levels : [ 0 ],
            left_frames: [ 47 ], right_frames: [ 47 ],
            up_frames: [ 47 ], down_frames: [ 47 ],
            frequency : 1,
            base_damage: Some(1),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Sturdy Arm", levels: [ 1 ],
            left_frames: [ 83 ], right_frames: [ 83 ],
            up_frames: [ 83 ], down_frames: [ 83 ],
            frequency: 1,
            base_damage: Some(2),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Lightning Arm", levels: [ 2 ],
            left_frames: [ 61 ], right_frames: [ 61 ],
            up_frames: [ 61 ], down_frames: [ 61 ],
            frequency: 1,
            base_damage: Some(3),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name : "Sturdy Hoodie", levels: [ 1, 2 ],
            left_frames: [ 60 ], right_frames: [ 60 ],
            up_frames: [ 60 ], down_frames: [ 60 ],
            frequency: 1,
            base_defense: Some(1),
            heat_seeking: false,
        ),

        //Enemies
        Template(
            entity_type: Enemy,
            name : "Transport Humanoid", levels : [ 0 ],
            left_frames: [ 103, 103, 103, 102, 102, 102 ],
            right_frames: [ 103, 103, 103, 102, 102, 102 ],
            up_frames: [ 103, 103, 103, 102, 102, 102 ],
            down_frames: [ 103, 103, 103, 102, 102, 102 ],
            hp : Some(1),
            frequency: 4,
            base_damage: Some(1),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
            heat_seeking: false,
            attack_left_frames: Some([17, 17, 103, 103, 17, 17]),
            attack_right_frames: Some([16, 16, 103, 103, 16, 16]),
            attack_up_frames: Some([30, 30, 103, 103, 30, 30]),
            attack_down_frames: Some([31, 31, 103, 103, 31, 31]),
            damage_left_frames: Some([120, 120, 103, 103, 120, 120]),
            damage_right_frames: Some([120, 120, 103, 103, 120, 120]),
            damage_up_frames: Some([120, 120, 103, 103, 120, 120]),
            damage_down_frames: Some([120, 120, 103, 103, 120, 120]),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Humanoid A", levels : [ 0, 1 ],
            left_frames: [ 111, 111, 111, 110, 110, 110 ],
            right_frames: [ 111, 111, 111, 110, 110, 110 ],
            up_frames: [ 111, 111, 111, 110, 110, 110 ],
            down_frames: [ 111, 111, 111, 110, 110, 110 ],
            hp : Some(3),
            frequency: 4,
            base_damage: Some(2),
            field_of_view_radius: Some(6),
            base_defense: Some(0),
            heat_seeking: false,
            attack_left_frames: Some([17, 17, 111, 111, 17, 17]),
            attack_right_frames: Some([16, 16, 111, 111, 16, 16]),
            attack_up_frames: Some([30, 30, 111, 111, 30, 30]),
            attack_down_frames: Some([31, 31, 111, 111, 31, 31]),
            damage_left_frames: Some([120, 120, 111, 111, 120, 120]),
            damage_right_frames: Some([120, 120, 111, 111, 120, 120]),
            damage_up_frames: Some([120, 120, 111, 111, 120, 120]),
            damage_down_frames: Some([120, 120, 111, 111, 120, 120]),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Humanoid B", levels : [ 1, 2 ],
            left_frames: [ 79, 79, 79, 80, 80, 80 ],
            right_frames: [ 79, 79, 79, 80, 80, 80 ],
            up_frames: [ 79, 79, 79, 80, 80, 80 ],
            down_frames: [ 79, 79, 79, 80, 80, 80 ],
            hp : Some(6),
            frequency : 4,
            base_damage : Some(3),
            field_of_view_radius: Some(7),
            base_defense: Some(1),
            heat_seeking: true,
            attack_left_frames: Some([17, 17, 79, 79, 17, 17]),
            attack_right_frames: Some([16, 16, 79, 79, 16, 16]),
            attack_up_frames: Some([30, 30, 79, 79, 30, 30]),
            attack_down_frames: Some([31, 31, 79, 79, 31, 31]),
            damage_left_frames: Some([120, 120, 79, 79, 120, 120]),
            damage_right_frames: Some([120, 120, 79, 79, 120, 120]),
            damage_up_frames: Some([120, 120, 79, 79, 120, 120]),
            damage_down_frames: Some([120, 120, 79, 79, 120, 120]),
        ),
        Template(
            entity_type: Enemy,
            name : "Combat Humanoid C", levels : [ 2 ],
            left_frames: [ 69, 69, 69, 70, 70, 70],
            right_frames: [ 69, 69, 69, 70, 70, 70],
            up_frames: [ 69, 69, 69, 70, 70, 70],
            down_frames: [ 69, 69, 69, 70, 70, 70],
            hp : Some(12),
            frequency : 2,
            base_damage: Some(4),
            field_of_view_radius: Some(8),
            base_defense: Some(1),
            heat_seeking: false,
            attack_left_frames: Some([17, 17, 69, 69, 17, 17]),
            attack_right_frames: Some([16, 16, 69, 69, 16, 16]),
            attack_up_frames: Some([30, 30, 69, 69, 30, 30]),
            attack_down_frames: Some([31, 31, 69, 69, 31, 31]),
            damage_left_frames: Some([120, 120, 69, 69, 120, 120]),
            damage_right_frames: Some([120, 120, 69, 69, 120, 120]),
            damage_up_frames: Some([120, 120, 69, 69, 120, 120]),
            damage_down_frames: Some([120, 120, 69, 69, 120, 120]),
        ),

        //with special tag
        //fixed number of occurrences(Set its frequency to zero, and add a special tag)

        //Boss enemy
        Template(
            entity_type: Enemy,
            name : "Humanoid Combat Intelligence Prototype 0", levels : [ ],
            left_frames: [ 124, 124, 124, 125, 125, 125 ],
            right_frames: [ 124, 124, 124, 125, 125, 125 ],
            up_frames: [ 124, 124, 124, 125, 125, 125 ],
            down_frames: [ 124, 124, 124, 125, 125, 125 ],
            hp : Some(20),
            frequency : 0,
            base_damage: Some(5),
            base_defense: Some(2),
            special_tag: Some(Boss),
            field_of_view_radius: Some(10),
            heat_seeking: true,
            attack_left_frames: Some([17, 17, 124, 124, 17, 17]),
            attack_right_frames: Some([16, 16, 124, 124, 16, 16]),
            attack_up_frames: Some([30, 30, 124, 124, 30, 30]),
            attack_down_frames: Some([31, 31, 124, 124, 31, 31]),
            damage_left_frames: Some([120, 120, 124, 124, 120, 120]),
            damage_right_frames: Some([120, 120, 124, 124, 120, 120]),
            damage_up_frames: Some([120, 120, 69, 124, 124, 120, 120]),
            damage_down_frames: Some([120, 120, 124, 124, 120, 120]),
        ),
        //Speciall eye
        Template(
            entity_type: Item, levels : [ ],
            name : "Console Head Set with LED Light",
            left_frames: [ 123 ],
            right_frames: [ 123 ],
            up_frames: [ 123 ],
            down_frames: [ 123 ],
            frequency: 0,
            provides: Some([ ("MagicEye", 4) ]),
            special_tag: Some(UniqueEye),
            heat_seeking: false,
        ),
        //Speciall weapon
        //Speciall armor
        Template(
            entity_type: Item, levels : [ ],
            name : "Reinforced Fibers Hoodie",
            left_frames: [ 37 ],
            right_frames: [ 37 ],
            up_frames: [ 37 ],
            down_frames: [ 37 ],
            frequency: 0,
            base_defense: Some(3),
            special_tag: Some(UniqueArmor),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item,
            name: "incandescence Rocket Punch Fist", levels : [  ],
            left_frames: [ 12 ], right_frames: [ 12 ],
            up_frames: [ 12 ], down_frames: [ 12 ],
            frequency: 0,
            provides: Some([ ("RocketPunch", 16) ]),
            special_tag: Some(UniqueBullet),
            heat_seeking: false,
        ),
        Template(
            entity_type: Item, levels : [ ],
            name : "Jet Engine Arm",
            left_frames: [ 94 ],
            right_frames: [ 94 ],
            up_frames: [ 94 ],
            down_frames: [ 94 ],
            frequency: 0,
            base_damage: Some(7),
            special_tag: Some(UniqueWeapon),
            heat_seeking: false,
        ),
    ],
)
